* 
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: url(../images/background.jpg);
	background-size:cover;
	//text-align: center;
}

.moveFreely
{
	position: absolute;
}

.hide
{
	display: none;
}

#chessboard
{
	border: groove 5px;
}

#titleImg
{
	//border: groove;
}

#layoutName
{
	font-family: KaiTi;
	font-size: 90px;
	text-align: center;
}

#refresh
{
	float: right;
}

/*#up
{
	background-size:100% 100%;
}*/

/*#chessboard
{
	border: groove;
	
	//position: relative;
	//left: 100px;
	//top: 100px;
	//margin-left: auto;
    //margin-right: auto;
	//margin: 0 auto;
}*/